<%-include('./header/header') %>
<div class="container-fluid">
    <div class="title"><h3>DESCUBRE NUESTROS PRODUCTOS</h3></div>
    <div class="category">
      <div class="productos">
          <a href="/blusas"><h2>Blusas</h2></a>
      </div>
      <div class="productos"><a href="/vestidos"><h2>Vestidos</h2></a></div>
      <div class="productos"><a href="/accesorios"><h2>Accesorios</h2></a></div>
  </div>
    <div class="row ">
      <%if(product.length >= 1){%>
        <% product.forEach(items => {%>
          <div class="col-sm-6 col-md-4  mx-auto">
            <div class="card">
            <a href="">  <img  src="<%=items.image%>" alt="<%=items.nameProduct%>"></a>
              <div class="card-body">
                    <h5 class="card-title"><%=items.nameProduct%></h5>
                    <div class="star">
                        <ul>
                            <li><i class="ri-star-fill"></i></li>
                            <li><i class="ri-star-fill"></i></li>
                            <li><i class="ri-star-fill"></i></li>
                            <li><i class="ri-star-line"></i></li>
                            <li><i class="ri-star-line"></i></li>
                        </ul>
                    </div>
                    <h5 class="card-title">Bs <%=items.price %></h5>
                    <div class="boton"><a href="/add-cart/<%=items.idProduct%>/<%=items.idCategory  %>">AGREGAR A <i class="ri-shopping-cart-fill"></i></a></div>
              </div>
            </div>
          </div>
        <%})%>    
        <%}else{%>
          <div class="alert alert-warning" role="alert">
           Categoria no disponible
          </div>

          <%} %>
   
    </div>
</div>

<div class="linea" ></div>
<%- include('./footer/footer') %>
