<%-include('./header/header') %>
    <!--nav no se le va poner aun por que solo se repetira codigo hmlt-->
    <!--carrucel-->

<div class="container-fluid">
    <div class="title"><h3>DESCUBRE NUESTROS PRODUCTOS</h3></div>
    <div class="category">
        <div class="productos">
            <a href=""><h2>Blusas</h2></a>
        </div>
        <div class="productos"><a href=""><h2>Vestidos</h2></a></div>
        <div class="productos"><a href=""><h2>Accesorios</h2></a></div>
    </div>
    <div class="row ">
      <div class="col-sm-6 col-md-4  mx-auto">
        <div class="card">
          <img  src="<%=product[0].image  %>" alt="Imagen 1">
          <div class="card-body">
                <h5 class="card-title"><%=product[0].description    %></h5>
                <div class="star">
                    <ul>
                        <li><i class="ri-star-fill"></i></li>
                        <li><i class="ri-star-fill"></i></li>
                        <li><i class="ri-star-fill"></i></li>
                        <li><i class="ri-star-line"></i></li>
                        <li><i class="ri-star-line"></i></li>
                    </ul>
                </div>
                <h5 class="card-title"> Bs 90/80$</h5>
                <div class="boton"><button>AGREGAR A <i class="ri-shopping-cart-fill"></i></button></div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="card">
          <img  src="<%=product[0].image  %>" alt="Imagen 1">
          <div class="card-body">
                <h5 class="card-title">Blusa manga larga</h5>
                <div class="star">
                    <ul>
                        <li><i class="ri-star-fill"></i></li>
                        <li><i class="ri-star-fill"></i></li>
                        <li><i class="ri-star-fill"></i></li>
                        <li><i class="ri-star-line"></i></li>
                        <li><i class="ri-star-line"></i></li>
                    </ul>
                </div>
                <h5 class="card-title"> Bs 90/80$</h5>
                <div class="boton"><button>AGREGAR A <i class="ri-shopping-cart-fill"></i></button></div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="card">
          <img  src="./imagenes/img-productos/Blusa-1.svg" alt="Imagen 1">
          <div class="card-body">
                <h5 class="card-title">Blusa manga larga</h5>
                <div class="star">
                    <ul>
                        <li><i class="ri-star-fill"></i></li>
                        <li><i class="ri-star-fill"></i></li>
                        <li><i class="ri-star-fill"></i></li>
                        <li><i class="ri-star-line"></i></li>
                        <li><i class="ri-star-line"></i></li>
                    </ul>
                </div>
                <h5 class="card-title"> Bs 90/80$</h5>
                <div class="boton"><button>AGREGAR A <i class="ri-shopping-cart-fill"></i></button></div>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-4">
        <div class="card">
          <img  src="./imagenes/img-productos/Blusa-1.svg" alt="Imagen 1">
          <div class="card-body">
                <h5 class="card-title">Blusa manga larga</h5>
                <div class="star">
                    <ul>
                        <li><i class="ri-star-fill"></i></li>
                        <li><i class="ri-star-fill"></i></li>
                        <li><i class="ri-star-fill"></i></li>
                        <li><i class="ri-star-line"></i></li>
                        <li><i class="ri-star-line"></i></li>
                    </ul>
                </div>
                <h5 class="card-title"> Bs 90/80$</h5>
                <div class="boton"><button>AGREGAR A <i class="ri-shopping-cart-fill"></i></button></div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="card">
          <img  src="./imagenes/img-productos/Blusa-1.svg" alt="Imagen 1">
          <div class="card-body">
                <h5 class="card-title">Blusa manga larga</h5>
                <div class="star">
                    <ul>
                        <li><i class="ri-star-fill"></i></li>
                        <li><i class="ri-star-fill"></i></li>
                        <li><i class="ri-star-fill"></i></li>
                        <li><i class="ri-star-line"></i></li>
                        <li><i class="ri-star-line"></i></li>
                    </ul>
                </div>
                <h5 class="card-title"> Bs 90/80$</h5>
                <div class="boton"><button>AGREGAR A <i class="ri-shopping-cart-fill"></i></button></div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="card">
          <img  src="./imagenes/img-productos/Blusa-1.svg" alt="Imagen 1">
          <div class="card-body">
                <h5 class="card-title">Blusa manga larga</h5>
                <div class="star">
                    <ul>
                        <li><i class="ri-star-fill"></i></li>
                        <li><i class="ri-star-fill"></i></li>
                        <li><i class="ri-star-fill"></i></li>
                        <li><i class="ri-star-line"></i></li>
                        <li><i class="ri-star-line"></i></li>
                    </ul>
                </div>
                <h5 class="card-title"> Bs 90/80$</h5>
                <div class="boton"><button>AGREGAR A <i class="ri-shopping-cart-fill"></i></button></div>
          </div>
        </div>
      </div>

    
    </div>
</div>

<div class="linea" ></div>

    <!--footer no se le va poner aun por que solo se repetira codigo hmlt-->




<%- include('./footer/footer') %>
