<%-include('./partials/header') %>
  <!-- <div class="linea"></div>
    <div class="back">
        <a href="./index.html">
         <i class="ri-arrow-left-line"></i>
         Volver</a>
     </div>--> 
  <div class="container .container-des mt-5">
    <div class="row">
      <div class="col-md-6">
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
        
                <% product.forEach((item, index)=>{%>
                  <div class="carousel-item <%= index === 0 ? 'active' : '' %>">
                  <img  src="<%=item.image%>" alt="First slide">
                </div>
                  <%}) %>
                </div>
        
          
          
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
      </div>

      <div class="col-md-6">
        <h2><%=product[0].nameProduct  %></h2>
        <p><%=product[0].description  %>
        </p>
        <p><b>Color:</b>
          <div class="kontrolDeForma">
            <select id="cars" aria-placeholder="Colors">
                <option value="volvo">Rojo</option>
                <option value="saab">Azul</option>
                <option value="opel">Negro</option>
                <option value="audi">Blanco</option>
            </select>
          </div>
        </p>
        <p><b>Talla:</b>
          <div class="kontrolDeForma">
            <label for="tallaPequeña"> <input type="checkbox"  name="talla" value="Pequeña">S</label>
            <label for="tallaMediana"> <input type="checkbox" name="talla" value="Mediana">M</label>
            <label for="tallaGrande"> <input type="checkbox"  name="talla" value="Grande">L</label>
          </div>
        </p>
        <p><b>Precio:</b><%= parseFloat( product[0].price ) %> bs</p>
        <p>Envíos a todo el país</p>
        <button>AGREGAR A  <i class="ri-shopping-cart-fill"></i></button>
      </div>
    </div>
  </div>
  <div class="footer-d">
    <div class="comparte"><b>Compartir</b></div>
    <div class="linearecta"></div>
    <div class="social_media">
            <ul>
                <li><i class="ri-facebook-circle-fill"></i></li>
                <li><i class="ri-instagram-fill"></i></li>
                <li><i class="ri-whatsapp-fill"></i></li>
            </ul>
    </div>
  </div>



  <%- include('./partials/footer') %>