<%-include('./partials/header') %>
<div class="container mt-4 contenedor">
  <div class="title">
      <div class="carrito">
          <i class="ri-shopping-cart-line"></i>
      </div>
      <br><br>
      <h1>Datos de Compra</h1>
  </div>

<form action="/pedido" method="post">
  <div class="form-row forms">
    <div class="form-group col-md-6 form">
      <label for="nombre">Nombre:</label>
      <input type="text" class="form-control" id="nombre" name="nombre" >
    </div>
    <div class="form-group col-md-6 form">
      <label for="apellidos">Apellidos:</label>
      <input type="text" class="form-control" id="apellidos" name="apellidos" >
    </div>
  </div>
      <div class="form-row forms">
        <div class="form-group col-md-6 form">
          <label for="celular">Celular:</label>
          <input type="text" class="form-control" name="celular" >
        </div>
        <div class="form-group col-md-6 form">
          <label for="apellidos">Ciudad:</label>
          <input type="text" class="form-control" name="Ciudad" >
        </div>
      </div> 
  <div class="form-group forms">
    <label for="direccion" class="form">Dirección:</label>
    <input type="text" class="form-control" id="direccion" name="direccion" >
  </div>

  <div class="form-group forms">
    <label for="productos" class="form">Productos:</label>
    <select name="productos[]" id="productos" class="form-control" multiple disabled>
        <% products.forEach(item => { %>
            <option value="<%= item.idProduct %>"><%= item.nameProduct %> <%= item.cantidad   %> </option>
        <% }) %>
    </select>
  </div>

  <div class="sumatoria">
   <div class="form"><p class="total">TOTAL: <%=totalPrice  %></p></div>
  </div>
  <h5 class="total">Envío</h5>
  <div class="form-row forms envios">   
    <div class="form-group col-md-6 form">
      <label for="Recoger">Delivery <br> (Cargo adicional de Bs 10,00)</label>
      <input class="circulo" type="checkbox" name="Recoger" id="Recoger">
    </div>
    <div class="form-group col-md-6 form">
      <label for="Entrega">Recoger <br> en tienda</label>
    <input class="circulo"type="checkbox" name="Entrega"id="Entrega">
    </div>
  </div>
  <div class="boton">
      <button type="submit ">Finalizar compra</button>
  </div>
  
</form>
</div>


<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- Bootstrap JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.5.0/js/bootstrap.min.js"></script>
