<%- include('./partials/headerPanel',{ nombreUser, emailUser, apellidoUser, rolUser}) %>

  <div class="container">
    <% if(mensaje==='eliminar' ){%>
      <div class="alert alert-success" role="alert">

        Pedido eliminado
      </div>

      <%}else if(mensaje==='vender' ){%>
        <div class="alert alert-success" role="alert">

          Pedido Vendido
        </div>


        <% } %>


  </div>
  <div class="container">
    <div class="table-responsive">
      <% if (pedido.length> 0) {%>
        <table class="table table-striped table-bordered" id="productosTable">
          <thead>
            <tr>
              <th>Nombres</th>
              <th>Producto</th>
              <th>Talla</th>
              <th>Cantidad</th>
              <th>Total</th>
              <th>Estado</th>
              <th>Celular</th>
              <th>Direccion</th>
              <th>Fecha y hora</th>
              <th>entrega</th>

              <th>Eliminar</th>


            </tr>
          </thead>
          <tbody>
            <% pedido.forEach(item=> { %>
              <tr>
                <td>
                  <%=item.firstName %>
                    <%= item.lastname%>
                      <%= item.motherLastName%>
                </td>
                <td>
                  <%=item.nameProduct %>
                    <%=item.color %>
                </td>
                <td>
                  <%=item.size %>
                </td>
                <td>
                  <%=item.amount %>
                </td>
                <td>
                  <%=item.total %> Bs
                </td>
                <td>
                  <%=(item.stateOrder)===1 ? 'llevar' :'recoger' %>
                </td>
                <td>
                  <%=item.Cell %>
                </td>
                <td>
                  <%=item.address %>
                </td>
                <th>
                  <%= item.FechaCompleta %>
                    <%=item.Hora %>
                </th>
                <th><a href="/vender/<%=item.idOrder  %>" class="btn btn-success"><i class="fas fa-truck"></i></a></th>

                <th>
                  <% if(rolUser==='admin' ){%>

                    <a onclick="deletePedido('<%= item.idPerson%>','<%=item.nameProduct%>')"><i
                        class="fas fa-trash-alt text-danger"></i></a>
                    <%}%>
                </th>
              </tr>

              <% }) %>



          </tbody>
        </table>
    </div>


    <%}else{%>
      <span>Pedidos no disponibles</span>

      <% } %>

  </div>
  </div>
  <%- include('./partials/footerPanel') %>