<%- include('./partials/headerPanel',{ nombreUser, emailUser, apellidoUser, rolUser}) %>

    <div class="container text-center">
        <h3>Suscriptores</h3>
    </div>
    <br>
    <br>

    <div class="container">
        <% if(mensaje){%>
            <div class="alert alert-success" role="alert">
                Suscriptor eliminado
            </div>

            <%} %>

                <% if (user.length> 0) {%>
                    <table class="table table-striped table-bordered" id="productosTable">
                        <thead>
                            <tr>
                                <th>Nombres Completo</th>
                                <th>Email o Correo</th>
                                <th>Mensaje</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% user.forEach(item=> { %>
                                <tr>
                                    <td>
                                        <%=item.firstName %>
                                            <%=item.lastName %>
                                                <%=item.motherLastName %>
                                    </td>

                                    <td>
                                        <%=item.email %>
                                    </td>
                                    <td>
                                        <%=item.textArea %>
                                    </td>
                                    <th>
                                        <a onclick="deleteUser('<%=item.idPerson%>', '<%=item.firstName %>')">
                                            <i class="fas fa-trash-alt text-danger"></i>
                                        </a>
                                    </th>
                                </tr>
                                <% }) %>



                        </tbody>
                    </table>


                    <%}else{%>
                        <span>Usuarios no disponibles</span>

                        <% } %>

                            <%- include('./partials/footerPanel') %>